# Ignore the InfluxDB configuration file containing sensitive credentials
influxdb_config.json
influxExport.py
# Ignore dataset files .csv
*.csv

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# macOS system files
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints